h1{
    color: darkred;
}

p{
    color:black;
}

p.magia{
    color: darkred
}
h2{
color: darkred;
}


/*magia y hechiceria*/

.harry{
    border: 5px lightcoral solid;
    border-style: solid;
    border-radius: lightcoral;
    border-radius: 5px;
    border-width: 5px;
}

#castillo{
    background-color:lightpink;
    opacity: 0.3;
    height: 300px;
    background-image: url(img/harry\ .jpg);
    background-size: contain;
    background-position:left top;
    }

.margen {
background-color:pink;
margin: 15px ;
padding:  30px ;
border: solid 1px palevioletred;
height: 100px;
width: 200px;
outline: 1px solid;
}
.text{
    font-family:'roboto', sans-serif ;
    text-align: center;
    text-decoration: underline;
    text-shadow: 3px 5px 5px orange;

}


.gran{
    font-family: 'roboto',sans-serif;
    text-align: center;
    text-decoration: underline;
    text-shadow:3px 5px 5px orange ;
}

.ofiss{
    font-family:'roboto',sans-serif;
    text-align: center;
    text-decoration: underline;
     text-shadow: 3px 5px 5px orange
}
 

a:link{
    color:coral;
 }


 a:visited{
    color: gray;
}

a:hover{
    color:coral;
}


a:active{
    color:orange;
}

ul{
    background-color: lightsalmon;
    list-style:none;
    padding: left 0;
}

table{
    width: 100%;
    border-collapse:collapse ;
}

th, td{

    border: solid 1px orange;
    padding: 5px;
}

th{

    background-color: lightcoral;
    color:white;
    text-align: center;
}


tr:nth-child(even){
    background-color: pink;
    
}



tr:hover{
    background-color: bisque;
    cursor: pointer ;
}




